version: "3.9"
services:
    #nginx
    nginx:
        container_name: nginx
        build:
            context: ./nginx
            dockerfile: nginx.dockerfile
        ports:
            - 443:443
        restart: always
        networks:
            - docker-network
        volumes:
            - wordpress:/var/www/html
        depends_on:
            - wordpress

    # wordpress
    wordpress:
        container_name: wordpress
        build:
            context: ./wordpress
            dockerfile: wordpress.dockerfile
        restart: always
        environment: 
            - .env
        networks:
            - docker-network
        volumes:
            - wordpress:/var/www/html
        depends_on:
            - mariadb

    # mariaDB
    mariadb:
        container_name: mariadb
        build:
            context: ./mariadb
            dockerfile: mariadb.dockerfile
        volumes:
        - db:/var/lib/mysql
        networks:
        - docker-network
        restart: always
        environment:
            - .env

networks:
    docker-network:

volumes:
    wordpress:
    db: